/*
 * jQuery FlexSlider v2.7.2
 * https://www.woocommerce.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *

 */
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  background: none;
  border: none;
  position: relative;
  zoom: 1;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.carousel li {
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {

  .flex-direction-nav {

  }
}

.flex-direction-nav a {
  height: 30px;
  line-height: 28px;
  border-radius: 15px;
  border: 2px solid #D7E8F0;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: #2B526B;
  top: -7px;
}

.flex-direction-nav .flex-prev {
  display: inline-block;
  right: 60px;
}

.flex-direction-nav .flex-next {
  margin-left: 100px;
  display: inline-block;
}

@media only screen and (max-width: 800px) {

  .flex-direction-nav .flex-next {
    margin-left: 0;
  }
}

.flexslider:hover .flex-direction-nav .flex-prev:hover, .flex-next:hover {
  opacity: 1;
  border-color: #85A8BE;
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 15px;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}
.flex-control-paging {
  padding-right: 160px;
  margin-top: -7px;
}

@media only screen and (max-width: 800px) {

  .flex-control-paging {
    padding-right: 0;
    display: none;
  }
}

.flex-control-paging li a {
  width: 50px;
  height: 5px;
  display: inline-block;
  background: #D7E8F0;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 2px;
}

@media only screen and (max-width: 800px) {

  .flex-control-paging li a {
    width: 10px;
  }
}

.flex-control-paging li a:hover {
  opacity: .8;
}
.flex-control-paging li a.flex-active {
  background: #85A8BE;
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
