/**
MAIN BANNER
===========================
*/

.main-banner {
  background: $white url("../../images/banner.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: $white;
  box-sizing: border-box;
  @extend %clearfix;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;

  @media #{$smartphones-1} {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $light-gray;
    background-size: 100%;
    background: none;
    min-height: auto;
  }

  @media #{$smartphones-1} {
    padding-bottom: 60px;
  }

  .holder {
    z-index: 100;
  }

  .logo-banner img {
    width: 190px;
    margin-bottom: 40px;
  }

  h1,
  p {
    width: 580px;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
}

.darkmode-skin {

  .main-banner {
    background-color: $dark-gray;
  }
}


/* Docs link */

.docs-btn {
  height: 43px;
  line-height: 37px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: $font-medium-2;
  text-align: center;
  box-sizing: border-box;
  color: $medium-blue;
  margin-left: 20px;

  img {
    margin: 6px 8px 0 0;
    float: left;
  }

  span {

    @media #{$smartphones-1} {
      display: none;
    }
  }

  em {
    display: none;
    font-style: normal;

    @media #{$smartphones-1} {
      display: inline;
    }
  }
}

.logo-white {
  display: none;
}

