/**
MIDDLE CALL
===========================
*/

.middle-call-fold {
  padding: 110px 0 120px 0;

  @media #{$smartphones-1} {
    padding: 50px 0 65px 0;
    border-top: 1px solid $light-gray;
  }

  h2 {
    @media #{$smartphones-1} {
      margin-top: 40px;
    }
  }

  p {
    margin-top: 0;
  }
}
  