/**
TWO BOXES
DAO and Token
===========================
*/

.two-boxes-fold {
  padding: 105px 0 120px 0;
  @extend %clearfix;
  background-color: $light-gray;

  @media #{$smartphones-1} {
    padding: 70px 0;
  }

  h3 {
    font-size: $font-big-2;
    color: $medium-blue;
  }
}

.darkmode-skin {

  .two-boxes-fold {
    background: $dark-gray-2;
  }
}


/* DAO */

.dao-fold {

  img {
    width: 90px;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: -5px;
  }
}


/* Token */

.token-fold {
  background: linear-gradient(180deg, rgba(243,246,249,1) 0%, rgba(255,255,255,1) 100%);
  padding: 65px 40px 40px 40px;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;

  @media #{$smartphones-1} {
    margin-top: 65px;
  }
}

.darkmode-skin {

  .token-fold {
    background: $dark-gray;
  }
}

.example {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-size: $font-medium;
  font-weight: bold;
  color: #C99F87;
  background: $white;
  padding: 7px;
  text-align: center;
  border-bottom: 1px solid $light-gray;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.darkmode-skin {

  .example {
    background: rgba($white, .2);
    border-bottom: none;
  }
}

.token-price {
  margin: 12px 0 21px 0;
  font-size: 40px;
  font-family: $headings;
  font-weight: bold;
}

.price-bar {

  .bar {
    height: 5px;
    background-color: #E5E9ED;
    border-radius: 2px;
  }

  ul {
    padding: 0;
    margin: 7px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    width: 33.3%;
    list-style-type: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: $medium-gray;
    font-family: $headings;
  }

  li:first-child {
    text-align: left;
    color: $dark-blue;
  }

  li:last-child {
    text-align: right;
    color: $dark-blue;
  }
}

.darkmode-skin {

  .price-bar {

    .bar {
      background: rgba($white, .2);
    }
  
    li,
    li:first-child,
    li:last-child {
      color: $white;
    }
  }
}

.token-infos {
  font-size: $font-medium;
  padding: 0;
  margin: 60px 0 0 0;

  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .left-col {
    text-align: left;
  }

  .right-col {
    text-align: right;
    font-weight: bold;
    font-family: $headings;
  }
}

.darkmode-skin {

  .token-infos {

    li {
      color: $white !important;
    }
  }
}
