/**
CONFIG NAV
===========================
*/

.config-nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 500;

  li {
    display: inline-block;
    margin-left: 20px;
  }

  img {
    height: 20px;
  }
}
